@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 2em;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(237, 231, 255);
  overflow: hidden;
}

.confetti {
  z-index: 998 !important;
  backdrop-filter: blur(5px);
}

.winner-name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999 !important;
}